body{
  overflow-x: hidden;
}
.image-box {
  margin: auto;
  overflow: hidden;
  width: 90% !important;
  border-radius: 50px;
}
.image-box img {
  transition: all 2s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}
.image-box:hover img {
  transform: scale(1.111);
  cursor: pointer;
}
